*{
    text-align: left;
    font-family: 'Raleway', serif !important;
}


h2 {
    padding: 0px;
}


input[type=text]{
    margin: 0px 0;
    background-color:  rgb(165, 162, 162);
}

textarea{
    resize: horizontal;
    background-color: rgb(165, 162, 162);
}

.comentario{
    display: block;

}

.rating {
    position: relative;
    overflow: hidden;
    display: inline-block;

    }
    .rating input {
    position: absolute;
    top: -100px;
    }
    .rating label {
    float: right;
    color: #c1b8b8;
    font-size: 30px; 
    }
    .rating label:hover,
    .rating label:hover ~ label,
    .rating input:checked ~ label {
    color:rgb(197, 159, 32);
    }

    .carousel-item > img {
        border: 5px solid grey;
        border-radius: 10px;
      }
    
